body{
  background-color: royalblue;
  text-align: center;
}

img{
  max-width: 100%;
}

.title{
  color: yellow;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 3px 3px rgb(0,0,0);
}

.card{
  margin-top: 70px;
}

.btn{
  margin-top: 20px;
}

.subTitle{
  font-size: 40px;
  margin-top: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 3px 3px rgb(0,0,0);
}

h4{
  color: #ffffff;
}